{% load static i18n menu_tags wagtailcore_tags %}

    <nav class="navbar navbar-expand-md bg-body shadow-sm fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand ms-4" href="#">Rodrigo Yáñez Pilgrim</a>
            <div class="collapse navbar-collapse" id="navcol-4">
                <ul class="navbar-nav ms-auto me-4">
                    <li class="nav-item"><a class="nav-link active" href="{% slugurl 'portfolio' %}">Projects</a></li>
                </ul>
            </div>
            <button data-bs-target="#navcol-4" data-bs-toggle="collapse" class="navbar-toggler">
                <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>