{% extends "core/account/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home_page.css' %}">
{% endblock extra_css %}

{% block content %}
    <section class="first-section">
    {% image page.first_section_image fill-1920x1200 as image %}
        <div class="container-fluid first-section p-5 d-flex align-items-center justify-content-center" style="background-image: url('{{ image.url }}'); height: 80vh;">
            <div class="text-center">
                {% if page.first_section_heading %}
                    <h2 class="text-center">{{ page.first_section_heading }}</h2>
                {% endif %}

                {% if page.first_section_text %}
                    <div class="text-center">{{ page.first_section_text | richtext }}</div>
                {% endif %}
                {% if page.first_section_cta_link %}
                    <a href="{% pageurl page.first_section_cta_link %}" class="btn btn-primary">{{ page.first_section_cta_text }}</a>
                {% endif %}
            </div>
 
        </div>
    </section>
{% endblock content %}