{% extends "account/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags custom_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% block content %}
    <section class="first-section">
    {% image page.first_section_image fill-1920x1200 as image %}
        <div class="container-fluid first-section p-5 d-flex align-items-center justify-content-center" style="background-image: url('{{ image.url }}'); height: 80vh;">
            <div class="text-center">
                {% if page.first_section_heading %}
                    <h2 class="text-center">{{ page.first_section_heading }}</h2>
                {% endif %}

                {% if page.first_section_text %}
                    <div class="text-center">{{ page.first_section_text | richtext }}</div>
                {% endif %}

                {% if page.first_section_cta_link and page.first_section_cta_text %}
                    <a href="{% pageurl page.first_section_cta_link %}" class="btn btn-primary">{{ page.first_section_cta_text }}</a>
                {% endif %}

                {% if request.user.is_authenticated %}
                    {% if not request.user|is_collaborator %}
                        {% if page.first_section_cta_link_2 and page.first_section_cta_text_2 %}
                            <a href="{% pageurl page.first_section_cta_link_2 %}" class="btn btn-secondary">{{ page.first_section_cta_text_2 }}</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if page.first_section_cta_link_2 and page.first_section_cta_text_2 %}
                        <a href="{% url 'account_signup' %}?next={% slugurl 'collaborator-request' %}" class="btn btn-secondary">{{ page.first_section_cta_text_2 }}</a>
                    {% endif %}
                {% endif %}

            </div>
 
        </div>
    </section>
{% endblock content %}