.content-wrapper {
    font-size: larger;
}

/* for the comment section on article pages */
.comment-form  {
    width: 800px;
    max-width: 100%;
    margin-left: 0;
}
.media-list {
    width: 800px;
    max-width: 100%;
    margin-left: 0;
}
.xtdcomment {
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    padding: 5px;
}
/* for thumbnail image in comments */
.avatar-image {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .avatar-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* mask: radial-gradient(circle, transparent 50%, white 50%); */
  }