/* for thumbnail image in comments */
.avatar-image {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .avatar-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* mask: radial-gradient(circle, transparent 50%, white 50%); */
  }