{% extends "accounts/account/base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="container mt-3">
        {% for post in blogpages %}
          {% image post.specific.featured_image fill-750x250 as blog_img %}
          <div class="card mt-2" >
            <a href="{{ post.url }}">
              <img src="{{ blog_img.url }}" class="card-img-top" alt="{{ blog_img.alt }}">
            </a>
            <div class="card-body">
              <h3 class="card-title">
                <a href="{% pageurl post %}">{{ post.title }}</a>
              </h3>
              <p>{{ post.specific.intro }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
{% endblock %}