{% extends "account/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags widget_tweaks comments comments_xtd %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/post_page.css' %}">
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="container content-wrapper card">
        {% image self.featured_image fill-1200x300 as feat_img %}
        {% image self.specific.author.profile_pic fill-40x40 as post_author_pic %}
        <img src="{{ feat_img.url }}"\
              class="card-img-top my-3"
              alt="{{ feat_img.alt }}" 
              style="width: 100%; height: auto;">

        <h1 class="text-center">{{ page.title }}</h1>

        {% if page.subtitle %}
          <h3 class="text-center mt-2">{{ page.subtitle }}</h3>
        {% endif %}

        <div class="d-flex align-items-center mb-4">
            <img class="profile-image-thumbnail me-2" src="{{ post_author_pic.url }}" alt="{{ post_author_pic.alt }}">
            <p class="meta m-0">{% trans "Written by" %} {{ page.author }} {% trans "on" %}  {{ page.date_published }}</p>
        </div>

        {% if page.intro %}
          <div class="intro">{{ page.intro }}</div>
        {% endif %}

        <div class="body mt-4">
          {{ page.body }}
        </div>

        <div class="container-fluid mt-4 comment-form">
            {% render_comment_form for page %}
        </div>

        {% get_comment_count for page as comment_count %}
        {% if comment_count %}
            <hr>
            <div class="container-fluid mt-4 media-list">
                {% render_xtdcomment_tree for page %}
            </div>
        {% endif %}

        <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>

{% endblock %}