{% load wagtailcore_tags wagtailimages_tags i18n %}

{% for post in blog_posts %}
    {% image post.specific.featured_image fill-750x250 as blog_img %}
    {% if forloop.last and blog_posts.has_next %}
        <div class="card mt-2" 
                hx-trigger="revealed" 
                hx-get="{% pageurl page %}?page={{ blog_posts.next_page_number }}"
                hx-swap="afterend"
                hx-target="this">
    {% else %}
        <div class="card mt-2">
    {% endif %}
            <a href="{{ post.url }}">
                <img src="{{ blog_img.url }}" class="card-img-top" alt="{{ blog_img.alt }}">
            </a>
            <div class="card-body">
                <div class="avatar-image">
                    <img class="author-image-thumbnail" src="{{ post.specific.author.wagtail_userprofile.avatar.url }}" class="card-img-top" alt="{{ post_author_pic.alt }}">
                </div>
                <p>{% trans "Written by" %} {{ post.specific.author }} <br> {% trans "on" %} {{ post.specific.date_published }}</p> 
                <h3 class="card-title">
                    <a class="text-decoration-none" href="{% pageurl post %}">{{ post.title }}</a>
                </h3>
                <p class="fs-5">{{ post.specific.subtitle }}</p>
            </div>
        </div>
{% endfor %}