<footer>
    <div class="d-flex justify-content-between">
        <div>
            <p class="text-muted ms-5">&copy; 2022 Polyglot Mandala</p>
        </div>

        <ul class="d-flex list-unstyled me-5">
                <li class="ms-3"><a class="link-dark" href="{{ settings.home.GenericSettings.instagram_url }}"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="{{ settings.home.GenericSettings.twitter_url }}"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="{{ settings.home.GenericSettings.youtube_url }}"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </div>
</footer>