<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted ms-3">&copy; 2022 Polyglot Mandala</p>

    <ul class="nav col-md-4 justify-content-end me-3">
            <li class="ms-3"><a class="link-dark" href="{{ settings.home.GenericSettings.instagram_url }}"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="ms-3"><a class="link-dark" href="{{ settings.home.GenericSettings.twitter_url }}"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="ms-3"><a class="link-dark" href="{{ settings.home.GenericSettings.youtube_url }}"><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
</footer>