{% load static i18n menu_tags wagtailcore_tags %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static "img/logo.png" %}" alt="Logo" style="height: 50px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        {% for item in menu_items %}
          <li class="nav-item ms-2">
            <a 
              href="{{ item.link_page.localized.url }}"
              class="nav-link {% if request.path == item.href %}active{% endif %}">
              {{ item.link_page.localized.title }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <!-- Search button -->
      <form class="d-flex me-2" id="navbar-search-button" role="search" method="get" action="{% url 'search' %}">
          <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>

      <!-- User options -->
      <div class="btn-group mt-2 mt-lg-0">
        <button class="btn btn-primary dropdown-toggle me-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item" href="{% url 'accounts:account_profile' %}">{% trans "Profile" %}</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
            </li>
          {% else %}
            <li>
              <a class="dropdown-item" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
            </li>
          {% endif %}
        </ul>
      </div>

      <!-- Language selector -->
      {% if page and page.get_translations.live.count > 0 %}
      <div class="btn-group mt-2 mt-lg-0">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-globe"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
              {% for translation in page.get_translations.live %}
                  <a class="dropdown-item" 
                      href="{% pageurl translation %}" 
                      rel="alternate" 
                      hreflang="{{ translation.locale.language_code }}">
                      {{ translation.locale.language_name_local|title }}
                  </a>
              {% endfor %}
            {% else %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</nav>