{% extends "socialaccount/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="form-accounts w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal text-center">{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="mb-3">
    <div class="fieldWrapper">
      {{ form.email.errors }}
      {% render_field form.email class="form-control" type="email" placeholder="E-mail address" %}
    </div>
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="mb-3">
    <button class="btn btn-primary d-block w-100" type="submit">{% trans "Sign Up" %}</button>
  </div>
</form>
</main>
{% endblock %}
