{% extends "core/account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'core/css/accounts.css' %}">
{% endblock extra_css %}


{% block content %}
<main class="form-accounts w-100 m-auto">
<h1 class="h3 mb-3 fw-normal text-center">{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <div class="mb-3">
      <button class="btn btn-primary d-block w-100" type="submit">{% trans 'Confirm' %}</button>
    </div>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}
</main>
{% endblock %}
