{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load account socialaccount %}

{% block title %}
  {% trans "Sign In" %}
{% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}

{% block content %}
  <main class="form-accounts w-100 m-auto">
    <form class="login" method="post" action="{% url 'account_login' %}">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal text-center">{% trans "Sign In" %}</h1>
      {{ form.non_field_errors }}
      <div class="mb-3">
        <div class="fieldWrapper">
          {{ form.login.errors }}
          {% render_field form.login class="form-control" type="email" placeholder="E-mail address" %}
        </div>
      </div>
      <div class="mb-3">
        <div class="fieldWrapper">
          {{ form.password.errors }}
          {% render_field form.password class="form-control" type="password" placeholder="Password" %}
        </div>
      </div>
      {% if redirect_field_value %}
        <input type="hidden"
               name="{{ redirect_field_name }}"
               value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="mb-3">
        <button class="btn btn-primary d-block w-100" type="submit">{% trans "Sign In" %}</button>
      </div>
      <a class="button secondaryAction"
         href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
    <hr>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
      <div class="socialaccount_ballot mt-3">
        <ul class="socialaccount_providers list-unstyled">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
      </div>
      {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}
  </main>
{% endblock content %}
