{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="form-accounts w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal text-center">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
          <div class="fieldWrapper">
            {{ form.login.password1 }}
            {% render_field form.password1 class="form-control" type="password" placeholder="Enter password" %}
          </div>
        </div>
        <div class="mb-3">
          <div class="fieldWrapper">
            {{ form.login.password2 }}
            {% render_field form.password2 class="form-control" type="password" placeholder="Enter password again" %}
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary d-block w-100" type="submit" name="action">{% trans 'Set Password' %}</button>
        </div>  
    </form>
  </main>
{% endblock %}
