{% extends "core/account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'core/css/accounts.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="form-accounts w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal text-center">{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
  </main>
{% endblock %}
