{% extends "core/account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'core/css/accounts.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="form-accounts w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal text-center">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
          <div class="fieldWrapper">
            {{ form.oldpassword.errors }}
            {% render_field form.oldpassword class="form-control" type="password" placeholder="Current Password" %}
          </div>
        </div>
        <div class="mb-3">
          <div class="fieldWrapper">
            {{ form.password1.errors }}
            {% render_field form.password1 class="form-control" type="password" placeholder="New Password" %}
          </div>
        </div>
        <div class="mb-3">
          <div class="fieldWrapper">
            {{ form.password2.errors }}
            {% render_field form.password2 class="form-control" type="password" placeholder="New Password (again)" %}
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary d-block w-100" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</main>
{% endblock %}
