{% extends "core/account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% load widget_tweaks %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'core/css/accounts.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="form-accounts w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal text-center">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.non_field_errors }}
              <div class="mb-3">
        <div class="fieldWrapper">
          {{ form.email.errors }}
          {% render_field form.email class="form-control" type="email" placeholder="Email" %}
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary d-block w-100" type="submit">{% trans 'Reset My Password' %}</button>
      </div>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</main>
{% endblock %}
