{% extends "account/base.html" %}
{% load static i18n widget_tweaks wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}

{% block content %}
  <main class="form-profile w-100 m-auto">
  <form class="p-2" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <h1 class="h3 mb-12 fw-normal text-center">
      Update Profile
    </h1>

    <div class="basic-data-container p-3 border rounded">
      {% if user.wagtail_userprofile.avatar %}
        <div class="avatar-container px-2">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <div class="avatar-image">
                <img src="{{ user.wagtail_userprofile.avatar.url }}" alt="User Profile Image">
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-9">
          <div class="form-group row mb-3">
            <label class="col-md-4 col-form-label" for="{{ form.avatar.id_for_label }}">
              {% if user.wagtail_userprofile.avatar %}
              Update Image:
              {% else %}
              Upload Image:
              {% endif %}
            </label>
            <div class="col-md-8">
              <div class="fieldWrapper">
                {{ form.avatar.errors }}
                {% render_field form.avatar class="form-control" type="file" %}
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <label class="col-md-4 col-form-label" for="{{ form.email.id_for_label }}">Email:</label>
            <div class="col-md-8">
              <div class="fieldWrapper">
                {{ form.email.errors }}
                {% render_field form.email class="form-control" type="email" placeholder="E-mail address" %}
              </div>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-md-4 col-form-label"
                  for="{{ form.username.id_for_label }}">Username:</label>
            <div class="col-md-8">
              <div class="fieldWrapper">
                {{ form.username.errors }}
                {% render_field form.username class="form-control" type="text" %}
              </div>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-md-4 col-form-label"
                  for="{{ form.first_name.id_for_label }}">First name:</label>
            <div class="col-md-8">
              <div class="fieldWrapper">
                {{ form.first_name.errors }}
                {% render_field form.first_name class="form-control" type="text" %}
              </div>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-md-4 col-form-label"
                  for="{{ form.last_name.id_for_label }}">Last name:</label>
            <div class="col-md-8">
              <div class="fieldWrapper">
                {{ form.last_name.errors }}
                {% render_field form.last_name class="form-control" type="text" %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3 d-flex align-items-center justify-content-center">
          <button class="btn btn-primary d-block w-100" type="submit">{% trans "Update your Profile" %}</button>
        </div>
      </div>
    </div>

    <div class="language-skills-container p-3 my-2 border rounded">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <label class="col-md-4 col-form-label">
              Language Skills:
            </label>
            <div class="col-md-8">
              {% if language_skills %}
                <ul class="list-group">
                  {% for language_skill in language_skills %}
                    <li class="list-group-item">
                      {{ language_skill.language }} - {{ language_skill.get_proficiency_level_display }}
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <div class="alert alert-primary" role="alert">
                  <p>You haven't added any language skills yet.</p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-center">
          <a href="{% url 'accounts:update-language-skills' user.id %}" type="button" class="btn btn-outline-secondary">Update Languages</a>
        </div>
      </div>
    </div>

    <div class="user-status-container p-3 my-2 border rounded">
      <div class="form-group row mb-3">
        <div class="col-md-9">
          <div class="row">
            <label class="col-md-4 col-form-label">Collaborator status:</label>
            <div class="col-md-8">
              <ul class="list-group">
                {% if is_collaborator %}
                  <li class="list-group-item">
                    You are a collaborator
                  </li>
                {% else %}
                  <li class="list-group-item">
                    Not yet a collaborator
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-center">
          <a href="{% slugurl 'collaborator-request' %}" class="btn btn-outline-secondary">Request</a>
        </div>
      </div>
    </div>

    <div class="mb-3 text-center">
      <a class="btn btn-outline-secondary" href="{% url 'account_change_password' %}">Change your password</a>
    </div>
  </form>
</main>
{% endblock content %}
{% comment %} 
  Allauth 'change-email' option disabled
  <li><a href="{% url 'account_email' %}">{% trans "Change E-mail" %}</a></li> 
{% endcomment %}